<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Marty Zalega</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>Little Bow PiP</string>
	<key>CFBundleIdentifier</key>
	<string>me.zalega.marty.littlebowpip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>activate</string>
				<key>Identifier</key>
				<string>littlebowpip</string>
				<key>Image</key>
				<string>images/icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Little Bow PiP</string>
				<key>Tool Tip</key>
				<string>Picture-in-Picture</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/endscript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Activate Picture-in-Picture for all video elements</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/evilmarty/littlebowpip</string>
</dict>
</plist>
